h1
{
  background-color: #5b7989;
  text-align: left;
  text-shadow: 2px;
  text-decoration-color: #02010a;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}
h1 a
{
  text-align: right;
  font-size: .5em;
}

#foto
{
  background-color: #82c3a6;
  text-align: center;
}
#foto2
{
  text-align: center;
  background-color: #d5c75f;
  border: 1px;
}
